<nav>
    <ul>
        <li><a href="/views/contact.ejs"><b>CONTATO</b></a></li>
    </ul>
    <ul>
        <li><a href="/views/donation.ejs"><b>DOAÇÃO</b></a></li>
    </ul>
    <ul>
        <li><a href="/views/model.ejs"><b>MODELOS</b></a></li>
    </ul>
    <ul>
        <li><a href="/views/home.ejs"><b>INICIO</b></a></li>
    </ul>
</nav>